body {
margin: auto;
height: 900px;
width: 1000px;
text-align: center;
background-color: black;
background-image: url(back.jpg);
background-position: center;
}

h1, h2, h3, p{
    font-family: Calibri;
    color: blck;
}

.res{
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
    height: auto;
    width: 1000px;
    text-align: center;
    border: 1.5px solid black;
    background-color: white;
    opacity: 0.8;
}

.beer_icon{
    height: 30px;
    width: 30px;
}